*{
	margin:0px;
	padding:0px;
	list-style: none;
	text-decoration: none;

}

ul, ol{
	padding:0px;
}

a:visited, a:link, a:focus, a:hover, a:active{
	list-style: none;
	text-decoration: none;
}





.navbar-toggler {

    color:white;
}

.fa-bars {

    color: white;
}

.navbar-nav  .nav-link {

    color: white;

}

.main-header {

    background: #37486a;
    background-size: cover;
    height: auto;
}

.servicios {

padding: 10px;
text-align: center;
color: white;
font-weight: 700;

}

.somos {

    color:#0075be;
    
}

.porqueAK {

    font-weight: 700;
}


/* BANNER DISTRIBUIDOR */


.banner {

    position: relative;
    overflow: hidden;
    height: 350px;
    background-image: url(img/almacen.jpg);
}

.banner .textoBanner {

    position:center;

}

.banner .textoCenter {

    top: 50px;
    left: 50px;
    text-align: center;
    margin: 50px;

}



/* PRODUCTOS */

.imgProducto {

    width: 100%;
}

.diablo {

    width: 250px;
}

.productos ul li figure {

    overflow: hidden; 
}

.productos ul li h4 small {

    color:#777;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700px;
    text-align: center;

}

.productos ul li h4 small a {

    color:#777;
    text-align: center;
}

.productos ul li h2 {

    margin-top: 10px;
}

main>.container {

    padding: 30px 0;

}

footer, h5, ul, li {

    color: white;

}


/* Banner logos */





/* FOOTER */

.derechosReser {

    background: #0075be;
}





/* Breakpoins */

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }